// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    header, section {
      display: block;
    }
    body {
      font-family: 'Droid Serif';
    }
    h1, h2 {
      text-align: center;
      font-weight: normal;
    }
    #features {
      margin: auto;
      width: 700px;
      font-size: 0.9em;
    }
    .connected, .sortable, .exclude, .handles {
      margin: auto;
      padding: 0;
      width: 700px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .sortable.grid {
      overflow: hidden;
    }
    .decimal_li {
      list-style: decimal;
      border: 1px solid #CCC;
      background: #F6F6F6;
      font-family: "Tahoma";

      margin: 5px;
      padding: 5px;
    }
    .handles span {
      cursor: move;
    }
    li.disabled {
      opacity: 0.5;
    }
    .sortable.grid li {
      line-height: 80px;
      float: left;
      width: 80px;
      height: 80px;
      text-align: center;
    }
    li.highlight {
      background: #FEE25F;
    }
    #connected {
      width: 440px;
      overflow: hidden;
      margin: auto;
    }
    .connected {
      float: left;
      width: 200px;
    }
    .connected.no2 {
      float: right;
    }
    li.sortable-placeholder {
      border: 1px dashed #CCC;
      background: none;
    }
    #container {
      overflow-y: hidden;
    }
    .attribute {
      float: left;
      margin-top: 1em;
      margin-right: 1em;
      font-size: 85%;
    }
